.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    background-color: #F5F1ED;
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
}

#buttons div {
    border-top: 1px solid #252323;
    border-right: 1px solid #252323;
}

.button {
    border: .5px solid black;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    border-radius: 60px;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-right: 5px;
}

.button:hover {
    background-color: #70798C;
    color: #F5F1ED;
    transition: .5s ease-in-out;
}

#equal {
    background-color: #A99985;
    color: #F5F1ED;
}